// .main-container {
//   // position: relative;
//   // height: 100%;
//   // width: 100%;
// }
.overlay-buttons-top-map {
  position: absolute;
  top: 80px;
  // top: 17%;
  // left: 0;
  right: 40px;
  // right: 2%;
  bottom: 0;
  // width: 100%;
  // height: 100%;
  z-index: 500;
}

.dataset-panel {
  // height: 10vh;
  height: fit-content;
  // height: 480px;
  width: 420px;
}

.overlay-image {
  position: absolute;
  top: 70vh;
  left: 25px;
  bottom: 0;
  // bottom: 150px;
  // width: 100%;
  // height: 100%;
  z-index: 500;
}

.panel-image {
  height: 20vh;
  // height: 480px;
  width: 320px;
}

.text-menu {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  // text-shadow: 1px 1px 1px #000;
}

.list-indicators {
  max-height: 100%;
  overflow: auto;
}

.bolder-title {
  font-weight: 500;
}

/**
* START CSS FOR MAP
*/
.map-container {
  position: absolute;
  top: 64px;
  // bottom: 0;
  left: 0;
  right: 0;
  margin: 0px 10px 10px 10px;
  // width: 100%;
  height: 80%;
  // z-index: -1;
}
.map-frame {
  border: 2px solid black;
  border-top: none;
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
/**
* END CSS FOR MAP
*/

::ng-deep .mat-mdc-menu-panel {
  max-width: none !important;
}

::ng-deep .mat-mdc-menu-content {
  width: 400px !important;
  overflow: none !important;
}

// ::ng-deep .mdc-radio{
//   display: none !important;
// }

/**
* REMOVE ICONS FROM LIST
*/
::ng-deep .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
  // display: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// ::ng-deep .mdc-list-item--with-trailing-radio {
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }

// ::ng-deep .mdc-list-item-end {
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }

// ::ng-deep .mdc-list .mdc-list-item .mdc-line{
//   word-wrap: break-word;
//  white-space: pre-wrap;
// }

// ::ng-deep .mdc-line{
//   word-wrap: break-word !important;
//   white-space: pre-wrap !important;
// }

::ng-deep .mdc-list-item__primary-text {
  word-wrap: break-word !important;
  white-space: normal !important;
}

::ng-deep .mdc-list-item__content {
  word-wrap: break-word !important;
}

.example-tree-invisible {
  display: none;
}

::ng-deep .mat-mdc-card-header {
  display: flex;
  padding: 5px 5px 5px 5px !important;
}

::ng-deep .mat-mdc-card-content:last-child {
  padding-bottom: 5px !important;
}

// ::ng-deep .edit-icon-size button {
//   padding: 1px 1px !important;
//   border-width: 1px !important;
// }

/**
* CSS FOR MAT TREE
*/

::ng-deep .menu .mat-tree {
	width: fit-content !important;
}

::ng-deep .menu .mat-mdc-menu-content {
	display: inline-table !important;
  max-width: none !important;
  min-width: 20vw !important;
  width: fit-content !important;
}

::ng-deep .menu .mat-mdc-menu-panel {
  max-width: none !important;
  width: fit-content !important;
}

::ng-deep .menu .cdk-overlay-pane {
  max-width: none !important;
  width: fit-content !important;
}

::ng-deep .form-datepicker .mat-mdc-form-field-subscript-wrapper {
  width: 0 !important;
}

::ng-deep .menu-var .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

::ng-deep .menu-var .mdc-text-field {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

::ng-deep .cdk-overlay-pane {
  // max-width: none !important;
  width: fit-content !important;
}

::ng-deep .toolbar-buttons .mat-mdc-raised-button {
  height: 100% !important;
  font-size: medium !important;
}