<div class="main-content" fxFlex fxLayout="column">

  <div fxFlex class="toolbar">
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
      <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="height: 100%;">

        <button fxFlex="20" mat-raised-button style="color: #fff; background-color: rgba(0, 221, 221, 0.795);"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="myMenu1">	<mat-icon>public</mat-icon> <span class="text-menu"> Dataset </span> </button>
          <!-- (mouseenter)="openMyMenu(menuTrigger)" -->

        <mat-menu #myMenu1="matMenu">
          <ng-template matMenuContent>

            <!-- <span>CIAO</span>
            <button>BOTTONE</button>
            <mat-radio-button>RADIO BUTTON</mat-radio-button>
            <mat-selection-list>
              <mat-list-option value="si">
                Si
              </mat-list-option>
              <mat-list-option value="no">
                No
              </mat-list-option>
            </mat-selection-list> -->
            <mat-radio-group>
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

                  <mat-radio-button>{{node.name}}</mat-radio-button>

                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button
                    mat-icon-button
                    matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name"
                  >
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>

            </mat-radio-group>
            <!-- <button mat-menu-item>A 1</button>
            <button mat-menu-item>A 2</button>
            <button mat-menu-item>A 3</button> -->
          </ng-template>
        </mat-menu>

        <button fxFlex="20" mat-raised-button color="warn"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="myMenu2"> <span class="text-menu"> Variable </span></button>
          <!-- (mouseenter)="openMyMenu(menuTrigger)" -->

        <mat-menu #myMenu2="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item>A 1</button>
            <button mat-menu-item>A 2</button>
            <button mat-menu-item>A 3</button>
          </ng-template>
        </mat-menu>

        <button mat-icon-button><mat-icon> place</mat-icon></button>

          <!-- <mat-expansion-panel class="expansion-panel-class" #panel (mouseenter)="panel.open()" (mouseleave)="panel.close()">
            <mat-expansion-panel-header>
            HEAD
            </mat-expansion-panel-header>
            <button mat-menu-item>A 1</button>
            <button mat-menu-item>A 2</button>
            <button mat-menu-item>A 3</button>
          </mat-expansion-panel> -->
    </div>
    </mat-toolbar>
  </div>

  <div fxFlex="fit-content" fxLayout="row" fxLayoutAlign="center center" class="overlay-buttons-top-map">
    <mat-card class="dataset-panel" fxFlex fxLayout="column" fxLayoutAlign="start center">
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="height: 100%; overflow: auto;" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
        <!-- <div fxFlex="80" style="height: 100%; overflow: auto;"> -->
          <div fxFlex="100" fxLayoutAlign="center start">

            <mat-selection-list fxFlex="100" [multiple]="false" fxLayoutAlign="center center" fxLayout="row wrap" style="word-wrap: break-word; overflow-wrap: break-word">
              <mat-list-option fxFlex="100" fxLayoutAlign="start center" [value]="elem" *ngFor="let elem of dataInd">{{elem.title}}</mat-list-option>
            </mat-selection-list>
          </div>
        <!-- </div> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Ok</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <!-- START MAP -->
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <!-- END MAP -->
</div>

