<div class="main-content" fxFlex fxLayout="column">

  <div fxFlex class="toolbar">
    <mat-toolbar color="primary">

      <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="height: 100%;">

        <button fxFlex="20" mat-raised-button style="color: #fff; background-color: rgba(0, 221, 221, 0.795);"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="myMenu1">	<mat-icon>public</mat-icon> <span class="text-menu"> Dataset </span>
        </button>

        <mat-menu #myMenu1="matMenu" class="menu">
          <ng-template matMenuContent>

            <form [formGroup]="selData">

              <mat-radio-group formControlName="dataSetSel">

                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                  <mat-tree-node *matTreeNodeDef="let node; let lastItem = last" matTreeNodePadding>

                    <ng-container *ngIf="node.expandable === false && node.level > 2; else noRadio">
                      <div fxFlex fxLayout="column" fxLayoutAlign="center start" style="max-width: none !important; width: fit-content;">
                        <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="max-width: none !important; width: fit-content;">
                          <button
                            matTooltip="Info about the layer"
                            matTooltipPosition="left"><mat-icon fxFlex="90" [ngStyle]="{'color': 'blue'}" (click)="openTableDialog(node.name['dataset_id'], node.name['title'])">info</mat-icon></button>
                          <mat-radio-button fxFlex [value]="node" (change)="getMeta(node.name['dataset_id']); getSelectedNode(node)">{{node.name["title"]}}</mat-radio-button>

                        </div>
                        <mat-divider style="width: 100%; margin: 10px 0px;" *ngIf="!lastItem"></mat-divider>

                      </div>
                    </ng-container>

                    <ng-template #noRadio>
                      <button
                        mat-icon-button
                        matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name"
                      >
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.name}}
                    </ng-template>

                  </mat-tree-node>

                  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                      <button
                      mat-icon-button
                      matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name"
                      >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.name}}

                  </mat-tree-node>

                </mat-tree>
              </mat-radio-group>
            </form>

            <!-- <button mat-menu-item>A 1</button>
            <button mat-menu-item>A 2</button>
            <button mat-menu-item>A 3</button> -->
          </ng-template>
        </mat-menu>

        <button fxFlex="20" mat-raised-button color="warn"
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="myMenu2"> <span class="text-menu"> Variable </span></button>
          <!-- (mouseenter)="openMyMenu(menuTrigger)" -->

        <mat-menu #myMenu2="matMenu">
          <ng-template matMenuContent>
            <form [formGroup]="variableGroup">
              <ng-container *ngIf="variableArray.length > 0; else noVariable">
                <ng-container *ngFor="let v of variableArray; let lastItem = last">

                  <button mat-menu-item>{{v}}</button>
                  <mat-divider *ngIf="!lastItem"></mat-divider>
                </ng-container>

              </ng-container>
              <ng-template #noVariable>
                <span>First select dataset</span>
              </ng-template>



            </form>
              <!-- <ng-container *ngFor="let v of variableArray"> -->
            <!-- </ng-container> -->
              <!-- <button mat-menu-item>A 2</button>
                <button mat-menu-item>A 3</button> -->

          </ng-template>

        </mat-menu>

        <button mat-icon-button><mat-icon> place</mat-icon></button>

          <!-- <mat-expansion-panel class="expansion-panel-class" #panel (mouseenter)="panel.open()" (mouseleave)="panel.close()">
            <mat-expansion-panel-header>
            HEAD
            </mat-expansion-panel-header>
            <button mat-menu-item>A 1</button>
            <button mat-menu-item>A 2</button>
            <button mat-menu-item>A 3</button>
          </mat-expansion-panel> -->
      </div>
      <!-- <div fxFlex *ngIf="selectedDate.get('dateSel')?.value">
        {{selectedDate.get("dateSel")?.value}}
      </div> -->
    </mat-toolbar>
  </div>

  <ng-container *ngIf="selData.get('dataSetSel')?.value">
    <div fxFlex="fit-content" fxLayout="row" fxLayoutAlign="center center" class="overlay-buttons-top-map">
      <mat-card class="dataset-panel" fxFlex fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header>
          <mat-card-title class="bolder-title">Active layer</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 100%;" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
          <!-- <div fxFlex="80" style="height: 100%; overflow: auto;"> -->
            <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-evenly center" class="edit-icon-size" fxLayoutGap="10px">

                <span>{{selData.get("dataSetSel")?.value.name.title}}</span>
                <button
                  matTooltip="Info about the layer"><mat-icon [ngStyle]="{'color': 'blue'}" (click)="openTableDialog()">info</mat-icon></button>
                <button
                  matTooltip="Remove the layer"><mat-icon [ngStyle]="{'color': 'red'}" (click)="deleteLayer(selData.get('datSetSel')?.value.name.dataset_id)">delete</mat-icon></button>


                <!-- <mat-selection-list fxFlex="100" [multiple]="false" fxLayoutAlign="center center" fxLayout="row wrap" style="word-wrap: break-word; overflow-wrap: break-word">
                  <mat-list-option fxFlex="100" fxLayoutAlign="start center" [value]="elem" *ngFor="let elem of dataInd">{{elem.title}}</mat-list-option>
                </mat-selection-list> -->
            </div>

            <div fxFlex="90" style="margin: 10px 0px 5px 0px;" fxLayout="row" fxLayoutAlign="center center">
              <form [formGroup]="selectedDate" fxFlex="50">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="form-datepicker">
                  <mat-form-field appearance="fill" fxFlex fxLayout="row" fxLayoutAlign="center center">
                    <mat-label>DD/MM/YYYY</mat-label>
                    <input matInput [matDatepicker]="datepicker" [matDatepickerFilter]="dateFilter" [min]="dateStart" [max]="dateEnd" formControlName="dateSel" fxFlex>
                    <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
                    <mat-datepicker-toggle fxFlex matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply (click)="getMeta(selData.get('dataSetSel')?.value.name.dataset_id, 'ok')">Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>

                </div>
              </form>
              <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
                <!-- DA FARE!! -->
                <button mat-icon-button fxFlex (click)="changeDate('leftAll')"><mat-icon>first_page</mat-icon></button>
                <button mat-icon-button fxFlex (click)="changeDate('left')" [disabled]="navigateDateLeftYear || navigateDateLeftMonth || navigateDateLeftSeason"><mat-icon>navigate_before</mat-icon></button>
                <button mat-icon-button fxFlex (click)="changeDate('right')" [disabled]="navigateDateRightYear || navigateDateRightMonth || navigateDateRightSeason"><mat-icon>navigate_next</mat-icon></button>
                <button mat-icon-button fxFlex (click)="changeDate('rightAll')"><mat-icon>last_page</mat-icon></button>

              </div>
            </div>
            <!-- </div> -->
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>

  <div fxFlex="fit-content" fxLayout="row" fxLayoutAlign="center center" class="overlay-image">
        <img [src]="legendLayer_src">
  </div>


  <!-- START MAP -->
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <!-- END MAP -->
</div>

