.title-dialog-bold {
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  color: rgb(13,193,213);
}

.info-title-dialog {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

::ng-deep .tab-graph {
  max-width: none !important;
  width: 100% !important;
}

:ng-deep .canvas-graph {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep .tab-group {
  width: 80vw !important;
  height: fit-content !important;
}

::ng-deep .export-tab {
  max-width: 10vw !important;
  width: fit-content !important;
  height: fit-content !important;
}

::ng-deep .menu-var .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

::ng-deep .menu-var .mdc-text-field {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

::ng-deep .select-overlay-pane-dialog {
  width: fit-content !important;
  max-width: 300px !important;
  word-break: break-all !important;
}

::ng-deep .mat-mdc-dialog-content {
  max-height: 80vh !important;
}



/**
* DISPLAY FLEX
*/
.title-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.info-content {
  display: none;
  width: 100%;
  height: 100%;

  .info-page-component {
    width: 100%;
    height: 100%;
  }
}
