:focus:not(.focus--mouse), .form-check [type=checkbox]:focus+label, .form-check [type=radio]:focus+label, .toggles label input[type=checkbox]:focus+.lever {
  border: #995c00 !important;
  box-shadow: 0 0 0 0px #995c00 !important;
  outline: none !important;
}
