<form [formGroup]="form">

  <h1 *ngIf="!description" mat-dialog-title class="title-dialog-bold">{{datasetName}}</h1>
  <h1 *ngIf="description" mat-dialog-title class="title-dialog-bold">{{description}}</h1>
  <!-- <h1 *ngIf="!description && openGraph" mat-dialog-title class="title-dialog-bold">{{datasetName}}</h1> -->
  <!-- <div *ngIf="success; else ok"> -->
  <div *ngIf="success">
    <div mat-dialog-content>

      <!-- <div>
        <mat-form-field appearance="fill">
          <mat-label>Select type</mat-label>
          <mat-select formControlName="cod">
            <mat-option *ngFor="let a of algoType" [value]="a.cod_algo_type">
              {{a.des_algo_type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- <span>PROVA</span>
      <input type="text"> -->

      <div #metadataTable *ngIf="!openGraph; else graph">
        <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
        <table mat-table [dataSource]="dataSource">

          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
            <th mat-header-cell *matHeaderCellDef> {{column.charAt(0).toUpperCase() + column.slice(1)}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">

        </mat-paginator>
      </div>

      <ng-template #graph>
        <div #graphDiv *ngIf="!description">
          <mat-spinner *ngIf="spinnerLoading"></mat-spinner>


          <!-- <ng-container *ngIf="!spinnerLoading"> -->
          <mat-tab-group *ngIf="!spinnerLoading" class="tab-group">

            <mat-tab label="Graph" class="tab-graph">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <!-- <div> -->
                <!-- <h4>Select graph</h4> -->

                <mat-form-field appearance="fill">
                  <mat-label>Time scale</mat-label>
                  <mat-select formControlName="operationSel">
                    <mat-option *ngFor="let o of optionTimeScale" [disabled]="removeAnnualCycle(o)" [matTooltip]="'Disabled in this period'" [matTooltipDisabled]="!removeAnnualCycle(o)" [value]="o.value">{{o.label}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <ng-container *ngIf="polygon">
                  <!-- STATISTICS PER I POLIGONI -->
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-form-field appearance="fill">
                      <mat-label>Statistics</mat-label>
                      <mat-select formControlName="statisticSel">
                        <mat-option *ngFor="let s of optionStatistics" [value]="s.value">{{s.label}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <button mat-raised-button color="primary">Send</button>

                  </div>
                </ng-container>

              </div>
              <app-canvas-graph (dataTimeExport)="addDataTimeExport($event)" (dataTablePolygon)="dataTablePolygon($event)" class="canvas-graph" [dataset]="dataset" [idMeta]="datasetId" [latlng]="latlng" [variable]="variable" [range]="range" [isIndicator]="isIndicator" [polygon]="polygon" [operation]="form.get('operationSel')?.value" [extraParam]="extraParamExport" [context]="'one'"></app-canvas-graph>
              <!-- <ng-template matTabContent> -->

            <!-- </ng-template> -->
            </mat-tab>
            <mat-tab label="Table">

              <table mat-table [dataSource]="dataSource">

                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                  <th mat-header-cell *matHeaderCellDef> {{column.charAt(0).toUpperCase() + column.slice(1)}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                            showFirstLastButtons
                            aria-label="Select page of periodic elements">

              </mat-paginator>

            </mat-tab>
            <mat-tab label="Export" fxFlex fxLayout="row" fxLayoutAlign="center center" class="export-tab">

              <!-- QUI CI VA IL CODICE PER EXPORT -->

            </mat-tab>
          </mat-tab-group>
          <!-- </ng-container> -->

        </div>
      </ng-template>

    </div>

    <mat-dialog-actions fxLayoutAlign="center center">

      <!-- <button fxFlex="22" mat-raised-button color="primary" (click)="save()">Save</button> -->
      <button fxFlex="22" mat-raised-button color="accent" (click)="close()">Cancel</button>

    </mat-dialog-actions>
  </div>


  <!-- <ng-template #ok>
    <h2 mat-dialog-title>{{description}}</h2>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="close()">Ok</button>
    </mat-dialog-actions>
  </ng-template> -->

</form>
