{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Geoportal{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External Libraries -->
    <script src="https://npmcdn.com/@turf/turf@6.3.0/turf.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>

    <!-- Static Assets -->
    <link href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="{% static 'assets/css/stylesheet.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/GeoJsonAjax.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.tipsy.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/sweetalert.js' %}"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block content %}
    <!-- Default content can go here or be left empty -->
    {% endblock %}

    {% block extra_scripts %}
    <!-- Page-specific scripts -->
    {% endblock %}
</body>
</html>
